
    html, body {
      height: 100%;
      margin: 0;
      padding: 0;
    }

    *, *::before, *::after {
        box-sizing: border-box;
        margin:0;
        padding:0;
    }

  

    @font-face {
        font-family : "Ubuntu"; src:url("fonts/Ubuntu.woff2") format("woff2"),
                                    url("fonts/Ubuntu.woff") format("woff"),
                                    url("fonts/Ubuntu.ttf") format("truetype");
    }

    body {
        font-size: 16px;
        line-height: 1.25;
        font-family: 'Ubuntu', sans-serif;
  
    }



    label, h3 {
        color: #669;
        font-weight: bold;
        font-family: sans-serif;
        font-size: 15px;
    }
    
    h3 {
        font-size: 25px;        
    }

    h2 {
        text-align: left; font-weight: 300;
        padding-bottom: 15px ; 
        padding-right: 15px ; 
        padding-top: 15px ; 
            }

    input, textarea { 
        color : lightgray;
        font-family: inherit;
        width: 100%;
        padding: 0.5rem;
        margin-top: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 5px;
        
    }
    textarea { height: 100px;}

    div p a {
        color : #549ff3;
        margin-left: 5px;
        text-decoration: none;
    }


    div p a:hover {
        color : #f00;
    }


   span:hover {
      color : #f00;
   }


    span {                                                  
        margin-left: 5px;
    }






        /* HEADER */




     img {
          max-width: 100%;
          height: auto;
          display: block;
        }



    .header {
            background-position: center top;
            background-size: cover;
            background-image: url(img/bkg.jpg);
            position: relative;
            height: 100vh;
        }



    .avant img{
        height: 40px;
        width : 40px;
    }


    .header-content {
      position: absolute;
      top: 50%;
      left: 1%;
      transform: translateY(-50%);
      color: black;
    }









        /* MENU */






    .menu {    
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(255, 255, 255, 0.95);
        z-index: 999;
        animation: slideIn 0.3s ease-in-out;  left: 0;
        }



    .menu-button {
      display: flex;
      align-items: center;
      gap: 5px; 
      border: none;
      background: none;
      padding: 0px;
      margin: 0;
      font-size: 16px;
      cursor: pointer;
      color: black;
      text-decoration: none;
      z-index: 1001;
    }

    .icon {
      width: 31px;
      font-size: 22px;
      height: 30px;
      margin: 0;
      padding: 0;
      background-image: url("../devoir-04/img/burg.png");
      transition: opacity 0.4s ease, background-position 0.3s ease;
      opacity: 1;
      background-repeat: no-repeat;
      background-size: 31px 59px;                   
      cursor: pointer;
      position: relative;
      display: inline-block;
      background-position: 0 0;
      user-select: none;
    }

    .icon:hover {
         opacity: 0.4;
    }

    .burger {
      background-position: 0 0;
    }

    .cross {
      background-position: 0 -30px; 
    }



    .menu ul {
      list-style: none;
      flex-direction: column;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }


    .menu li a {
      display: block;
        text-decoration: none;
        font-size: 50px;
        font-weight: 300;
        padding: 15px;
        color: white;
        }


    .menu li a:hover {
        color: #f44336;
    }



    .label {
      line-height: 1;
      font-size: 16px; 
      padding: 0;
      display: inline-block; 
      margin: 5px ;  
      align-items: center; 
      height: 35px;
      transition: opacity 0.4s ease; 
      opacity: 1; 
    }



    .label:hover {
       color: #2f2f2f;
      opacity: 0.4;     
    }



    .menu-container .open-button {
      position: absolute;
      top: 20px;
      right: 20px;
      display: flex;
      align-items: center;
      gap: 5px;
      background: transparent;
      border: none;
      color: black;
      cursor: pointer;
      z-index: 1001;
    }


    .close-button {
      position: fixed;
      top: 20px;
      right: 20px;
      display: none;
      align-items: center;
      gap: 5px;
      background: transparent;
      border: none;
      color: black;
      cursor: pointer;
      z-index: 1002;
    }


    .close-button .label {
        display: flex;
      align-items: center;
      height: 35px; 
    }



    #menu:target {
      display: flex; 
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: hsl(163, 27.7%, 32%);
    }


    #menu:target .close-button {
      display: flex;
    }

 
    #menu:target ~ .menu-container .open-button {
      display: none;
    }







        /* FORMULAIRE */



    .formulaire {
        background-image: url(img/bkg-form.jpg);
        background-size: cover;
         padding: 15px;
    }           


    .envoyer, .reset {
        font-size : 16px;
        cursor: pointer;
        color : white; 
        border-radius: 25px;
        border: none ;
        padding : 10px 50px;    
        
        }


    .envoyer {
        background-image: radial-gradient(ellipse at center, #b9bbde 0%, #669 100%) ;
    }

    .reset {
        background-image: radial-gradient(ellipse at center, #b8babb 0%, #6f6e73 100%) ;
        margin-top: 2px;    
        }  

    .envoyer:hover {
        background-image: radial-gradient(ellipse at center, #666 0%, #444 100%) ;
        
    }      


    .reset:hover {
        background-image: radial-gradient(ellipse at center, #666 0%, #444 100%) ;
        
    }    


    form ul li {
        color : #ededed;
            }

    form { 
        background-color: rgba(250,250,250,0.5);
        max-width: 900px;
        padding-bottom: 2rem;
        padding-top: 2rem;
        padding-left: 2rem;
        padding-right: 3em;
        border-radius: 15px;
    }
    
    .form-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 55px;
      row-gap: 1rem;
      width: 100%;
      margin: auto;
      align-items: start;
    }


    .form-grid div {
      display: flex;
      flex-direction: column;
    }


     .buttons-container {
        display: flex;
        flex-direction: column;    
        align-items: center;       
        margin-top: 20px;
        gap: 20px;   
    }

    .envoyer, .reset {
       min-width: 150px;
       width: auto;
       padding: 10px 30px;
       white-space: nowrap;
       text-align: center;  
    }







            /* FOOTER */ 





    footer {
        background-color: #ff7fcf;
        padding-top:  20px;
    }

    footer li:hover {
            color : #fff;
            background-color: rgba(120,120,120,0.8);
            transition: background-color 0.3s ease, color 0.3s ease;
    }




    footer ul {
        list-style: square;
        column-gap: 50px;
        margin-left: auto; 
        margin-right: auto;
        color: white;
        
    }


    .footer_container {
      max-width: 1200px;
      margin-left : 80px;
/*      width: 100%;*/
    }


    .puces {
        list-style: none;
        padding-left: 0;
         display: grid;
        grid-template-columns: 1fr;
    }



    .puces li a {
      display: inline-block;
      padding: 0;
      margin: 0;
      font-size: 16px;
      line-height: 0.9;  
      text-decoration: none;
      list-style: none;
      color : white ;  
    }


    .puces li {
      position: relative;  
      padding: 0;
      margin : 0;
      background: rgba(0, 255, 0, 0.1);
      line-height: 0.8;    
  
    }


    .puces li::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);                   
      width: 13px;
      height: 13px;
      border: 2px solid white;
      background-color: white;
    }



   /* Footer media queries */


/*  petit et moyen écran : marges de footer */

    @media (max-width: 1023px) {
      footer { 
        padding-left: 30px;
        padding-right: 15px;
        padding-bottom: 15px;
      }
    }

    /* Moyen écran : 2 colonnes */

    @media (min-width: 600px) and (max-width: 1023px) {
       footer ul.puces {
       display: grid !important;
       grid-template-columns: repeat(2, 1fr) !important;
        
      }
 
        footer {
            padding-bottom : 0; 
        }
    }


    /* Grand écran : 3 colonnes */

    @media (min-width: 1024px) {
      .puces {
        grid-template-columns: repeat(3, 1fr);
        padding-left: 150px;
        padding-right: 150px;
      }
    }





    /* GRILLE CORPS PRINCIPAL */




    div.item img {
        width: 100%;
    }


    
    .full-width {
      grid-column: 1 / -1; 
    }


    .container-1200 {
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 20px;
      width: 100%;
    }

    .container-900 {
      max-width: 900px;
      margin: 0 auto;
      padding: 0 20px;
      width: 100%;
    }
   

    .main-grid {
      display: grid;
      margin: 0 auto;
      column-gap: 15px;
      display: grid;
      gap: 10px;
      padding: 10px;
      grid-template-columns: repeat(12, 1fr);
    }


    .item {
        padding : 10px;
    }


   




        /* MEDIA QUERIES */ 




        /* titre */


    @media (max-width: 767px) {
      h1, .header-content p {

        padding-left: 70px;

      }
        h1 {  padding-bottom: 15px;
        margin-top: 150px;}
    }





        /* formulaire */



    @media (max-width: 768px) {
        .form-grid {
            grid-template-columns: 1fr; 
        }
         .formulaire {
            background-position: 50% center;
            background-size: cover;
  }
    }




    
        /* grille */


     @media (max-width: 1023px) {
          .container-1200,
          .container-900 {
            padding-left: 0 !important;
            padding-right: 0 !important;
          }

          .main-grid {
            padding-left: 0 !important;
            padding-right: 0 !important;
          }
         .footer_container {
             max-width: 1200px;
             margin-left: 5px;
         }
        }


    @media (min-width :600px) { .main-grid { grid-template-columns: repeat(2, 1fr); }}

    @media (max-width : 599px) { .main-grid {grid-template-columns: 1fr; }}

    @media (max-width: 600px) { footer ul { column-count: 1; }}


    @keyframes slideIn {
        from {
            transform: translateX(-100%);
        }
        to {
            transform: translateX(0);
        }
    }


    @media (min-width: 768px) and (max-width: 1199px) {
      .main-grid {
        grid-template-columns: 1fr; 
      }

      .main-grid > .item:first-child {
        grid-column: 1 / -1;
      }

    }

      .puces li {
        padding-left: 20px; 
      }
    

    





    /* Petit écran */

    @media (max-width: 599px) {
      .main-grid {
        grid-template-columns: 1fr;
        row-gap: 70px;
        margin-bottom: 60px;
        margin-top: 60px;
      }
      .item {
        grid-column: auto !important;
      }

    }





    /* Moyen écran : 600 à 1023px */



    @media (min-width: 600px) and (max-width: 1023px) {
      .main-grid {
        display: grid;
        grid-template-columns: repeat(6, 1fr); 
        column-gap: 5px; 
        row-gap: 70px;
        margin-top: 20px;   
        margin-bottom: 100px; 
        padding-left: 0 !important;  
        padding-right: 0 !important;
      }

      /* 1er item */
        
      .main-grid .item:nth-child(1) {
        grid-column: 1 / 7; 
        grid-row: 1;
      }

      /* 2e ligne: 2 items */
        
      .main-grid .item:nth-child(2) {
        grid-column: 1 / 4; 
        grid-row: 2;
      }

      .main-grid .item:nth-child(3) {
        grid-column: 4 / 7;
        grid-row: 2;
      }

      /* 3e ligne: 3 items */
        
      .main-grid .item:nth-child(4) {
        grid-column: 1 / 3;
        grid-row: 3;
      }
      .main-grid .item:nth-child(5) {
        grid-column: 3 / 5;
        grid-row: 3;
      }
      .main-grid .item:nth-child(6) {
        grid-column: 5 / 7;
        grid-row: 3;
      }

      /* 4e ligne: 3 items */
        
      .main-grid .item:nth-child(7) {
        grid-column: 1 / 3;
        grid-row: 4;
      }
      .main-grid .item:nth-child(8) {
        grid-column: 3 / 5;
        grid-row: 4;
      }
      .main-grid .item:nth-child(9) {
        grid-column: 5 / 7;
        grid-row: 4;
      }
    }






  /* Grand écran : 1024px et plus */


    @media (min-width: 1024px) {
        
    .main-grid {
        row-gap: 70px;
        margin-top: 20px;    
        margin-bottom: 100px; 
        }
        
    .main-grid {
        grid-template-columns: repeat(12, 1fr);
      }

    .main-grid .item:nth-child(1) {
        grid-column: 1 / 7; 
      }

    .main-grid .item:nth-child(2) {
        grid-column: 7 / 13; 
      }

    .main-grid .item:nth-child(3) {
      grid-column: 1 / 5;
    }
    .main-grid .item:nth-child(4) {
      grid-column: 5 / 9;
    }
    .main-grid .item:nth-child(5) {
      grid-column: 9 / 13;
    }

    .main-grid .item:nth-child(6) {
      grid-column: 1 / 4;
    }
    .main-grid .item:nth-child(7) {
      grid-column: 4 / 7;
    }
    .main-grid .item:nth-child(8) {
      grid-column: 7 / 10;
    }
    .main-grid .item:nth-child(9) {
      grid-column: 10 / 13;   
    }
}